<div>
  <link href="./footer-gray.css" rel="stylesheet" />
  <footer class="footer-gray-footer">
    <div class="footer-gray-divider"></div>
    <div class="footer-gray-container">
      <div class="footer-gray-container1">
        <div class="footer-gray-container2">
          <span class="footer-gray-text">Truempire real estate </span>
        </div>
        <div class="footer-gray-container3">
          <div class="footer-gray-container4">
            <span class="footer-gray-text01 Large">Company</span>
            <a href="about-us.html" class="footer-gray-navlink Large">
              <span>About Us</span>
            </a>
            <a href="coming-soon.html" class="footer-gray-text02 Large">Blog</a>
          </div>
          <div class="footer-gray-container5">
            <span class="footer-gray-text03 Large">Help &amp; Support</span>
            <a href="tel:(816) 608-7620" class="footer-gray-link Large">
              Contact Us
            </a>
          </div>
          <div class="footer-gray-container6">
            <span class="footer-gray-text04 Large">Legal</span>
            <span class="footer-gray-text05 Large">Terms &amp; Conditions</span>
            <span class="footer-gray-text06 Large">Privacy Policy</span>
          </div>
        </div>
      </div>
      <span class="footer-gray-text07 Small">
        <span>
          All rights reserved. Copyright © 2021 Truempire real estate co.
        </span>
        <span>.</span>
      </span>
    </div>
  </footer>
</div>
